@import "bootstrap/bootstrap.less";
@import "variables.less";
@import "mixins.less";

.header {
  overflow: hidden;
}

.logo {
  display: table;
  .icon {
    display: table-cell;
    width: 44px;
    height: 44px;
  }
  .title {
    display: table-cell;
    width: 150px;
    font-size: 0.8em;
    font-weight: bold;
    padding-left: 15px;
  }
}