/** Bootstrap variables **/
@container-desktop: (990px + @grid-gutter-width);
@nav-link-padding: 22px 22px;
@grid-columns: 24;

/** Project variables **/

// colors
@color-gray: #35363A;
@color-logo: #078023;